.LoginBox
    @include center()
    @include v-flex()
    text-align: center
.buttonGroup
    margin: 1em
.graph-first
    display: flex
    text-align: center
.graph-second
    display: flex
    text-align: center
.box
    @include h-flex()